/*******Bicycle Page CSS********/
/***Start Home page CSS***/
body {
    background: #ffa;
    font-family: 'IM Fell English SC', serif;
    font-size: 100%;
    line-height: 1.5;
    width: 100%;
    margin:10px auto;
    max-width: 960px;                              /* maxium with of page */
    padding: 50px 50px 50px ;            
}

h1 {animation: moveright 2s ease-in-out 1s 1 alternate;}
@keyframes moveright {
    from {margin-left: 20%;
          color:blue;}
    to   {margin-left: 50%;
          color:red;}
}
h1, h2, h3, h4, h5, h6 {
    color: #222;
    text-align: center;
    margin: 0;
    padding: 10px; 
}

p  {padding: 0px 5px 0px 5px;
    position: relative;
  }

a {
  position: relative;
  width: 8.5517241%;
  height: 18px;
    padding-right: 10px;
  }

li {padding-left: 10px;
}

/*****Image container***/
.container {
    max-width: 246px;margin: 0
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin: 1.5em;
    width: 50%;
  }

figcaption {
    display: block;
    font-weight: bold;
    padding: .25em;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
    text-align: center;
    }

 #nav_menu ul li a{font-size: .875em;}
/****Nav_menu CSS****/
#nav_menu ul {width: 100%;                                        /**Full width of body**/
    list-style-type: none;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black
}
#nav_menu ul li {width: 20%;display: inline;padding: 0 1.5em;}    /** 145/725x100 **/
#nav_menu ul li:hover ul {width: 100%;}                           /**Full width of list item **/
#nav_menu ul li:hover ul li {width: 100%;}                        /**Full width of list **/

#nav_menu ul li a {width: 65%;                                    /**color for a **/
    font-weight: bold;
    color: blue;
}    

/** Image for all Pages**/
.image2 {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    background-size: contain;
    border: 10px solid black;
    border-radius: 4px;
}


/***Stop Home Page***/

/****CurrentStat Page CSS Starts****/
#currentbody, #respbody {
    font-family: Arial, Helvetica, sans-serif;
     width: auto;
    font-size: 100%;
    line-height: 1.5;
    background-color: antiquewhite;
    margin: 10px auto;
    border: 1px solid black;
}

header {width: 95.5%;  border-bottom: 2px solid black; }



footer {clear: both;
        width: 100%;
border-top: 2px solid black;
}
/****CurrentStat Page CSS Stops****/


/***Video PAGE Starts***/
#vidbody {
background: #a5fa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    width: 100%;
    margin:10px auto;
    max-width: 725px;                              /* maxium with of page */
    padding: 10px 10px 10px ; 
}

iframe {
    position: relative;
    width: 100%;
    top: 0;
    height: auto;
}
/***video PAGE STOPS***/
/**Archive Page & Tables Defined Starts****/
#archbody {
    background: #afa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    width: 100%;
    margin:10px auto;
    max-width: 960px;                              /* maxium with of page */
    padding: 10px 10px 10px ;            
}

#outer {border-collapse: collapse;
        border: 1px solid black;
        margin: 1px auto;
}
#archfigure, archfigcap {margin: 0;
                        padding: 0;}
#archfigure {border:1px solid black;
            padding:1px;
            background-color: aliceblue;
}
#archfigcap {display: block;
            font-weight: bold;
            text-align: center;
            font-size: 100%;
            padding-bottom: .25em;
}

thead {
    background-color: aquamarine;
}

th {margin:  0;vertical-align: middle;
    border: 2px solid black;
}

th:first-child{
    vertical-align: bottom;
    border: 2px solid black;
}

th:nth-child(2) {
    text-align: center;
      border: 2px solid black;
}

th:nth-child(2) th {
    text-align: left;
    border: 2px solid black;
}

td {padding-right: 12px;
    border:2px solid black;
}

tbody tr:nth-child(even) { 
    background-color: aqua;
    border: 2px solid black;
}

tbody tr:nth-child(odd) { 
    background-color: coral;
    border: 2px solid black;
}
tbody {align-content: center;}

    tfoot {
        background-color: white;
        border: none;
        border-top: 1px solid black;
}
/****Service Page & Tables Defined Stops****/

/****CONTACT PAGE START****/
#conbody {
    background: #b97;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    width: 100%;
    margin:10px auto;
    max-width: 725px;      /* maxium with of page */     
}
fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: .5em;
}

legend {
    color: cornsilk;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: .5em;
}

label, input, select{
    font-size: 90%;
}

label {

    width: 12em;
    text-align: right;
}


input, select {
    width: 15em;
    margin-left: .5em;
    margin-bottom: .5em;
}

input:required,input[required] {
    border:3px solid red;
}

input:valid {
    border:1px solid black;
}

input:valid {
    box-shadow: none;
}

br {
    clear:both;
}

textarea {
    height: 5em;
    width: 25em;
    font-family: Arial, Helvetica, sans-serif;
}

#button input {
    width: 10em;
}
/****CONTACT PAGE STOPS****/

/****Responsive for 959px START****/
/***hide the mobile menu ***/
#mobile_menu {display: none;}

@media only screen and (max-width:959px){
    #nav_menu ul li a{font-size: .875em;}
/****Nav_menu CSS****/
#nav_menu ul {width: 100%;                                        /**Full width of body**/
    list-style-type: none;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black
}
#nav_menu ul li {width: 20%;display: inline;padding: 0 1.5em;}    /** 145/725x100 **/
#nav_menu ul li:hover ul {width: 100%;}                           /**Full width of list item **/
#nav_menu ul li:hover ul li {width: 100%;}                        /**Full width of list **/

#nav_menu ul li a {width: 65%;                                    /**color for a **/
    font-weight: bold;
    color: blue;
}    
/***Image define for Homepage***/
#image1 {    
    background-image: url("armadillo2.jpg");
        width: 241px;
        padding-top:51.5%;
        border: 10px solid rgba(0, 1, 250,1);
    border-radius: 4px;
}
}

#image1:hover {
    background-image: url("armadillo3.jpg") 
}
/****Responsive for 959px STOPS****/

/****Responsive for CurrentStat 767px START****/
@media only screen and (max-width:767px) {
    #nav_menu {display: none;}       /****hide the desktop menu ******/
    #mobile_menu {display: block;}
    /**** Image responsive on home page***/
#image1 {    
    background-image: url("armadillo2.jpg");
        font-size: 10%;
        width: 80%;
        padding-top:20%;
        border: 10px solid rgba(0, 1, 250,1);
    border-radius: 4px;
}

#image1:hover {
    background-image: url("armadillo3.jpg") 
}
    
    /**************Body font responsive pages**********/
    /***Current and Response Page***/
#currentbody, #respbody {
    font-family: Arial, Helvetica, sans-serif;
     width: auto;
    font-size:85%;
    line-height: 1.5;
    background-color: antiquewhite;
    margin: 10px auto;
    border: 1px solid black;
}
    /**Video Page**/
    #vidbody {
    background: #a5fa;
    font-size: 85%;
    width: auto;
}
   
    /***Contact Page***/
        #conbody {    font-family: Arial, Helvetica, sans-serif;
     width: auto;
    font-size:85%;
    background-color: #b97;
    }
    
/**Service Pages**/
   
    #archbody {
    background: #afa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%; 
}
}
/****Responsive for 767px STOPS****/





/****Responsive for 479px START****/
@media only screen and (max-width:479px) {
    #nav_menu {display: none;}       /****hide the desktop menu ******/
    #mobile_menu {display: block;}
    #image1 {    
    background-image: url("armadillo2.jpg");
        font-size: 60%;
        width: 80%;
        padding-top:10%;
        border: 10px solid rgba(0, 1, 250,1);
    border-radius: 4px;
}

#image1:hover {
    background-image: url("armadillo3.jpg") 
}
  /**************Body font responsive pages**********/ 
    /**CurrentStat and Response page**/
    #currentbody, #respbody {
    font-family: Arial, Helvetica, sans-serif;
     width: auto;
    font-size:60%;
    background-color: antiquewhite;
}
          /**Home Page**/
    #homebody {
    background: #ffa;
    font-size: 65%;
    width: auto;
}  
        /**Video Page**/
    #salebody {
    background: #a5fa;
    font-size: 65%;
    width: auto;
}
   /**Contact Page**/
    #conbody {    font-family: Arial, Helvetica, sans-serif;
     width: auto;
    font-size:65%;
    background-color: #b97;
    }

 /***Service Page***/
     td {
        padding-right: 5px;
        display: block;
    }
    .serheadtype {font-size:65%;
        background-color: orange;}
    
    thead th {
         display: none;
    }
    tr td:first-child {
        font-weight: bold;
        font-size: 65%;
        background-color: fuchsia;
    }
    td {padding-right: 5px;}
    tbody {
        border-bottom-style: none;
    }
    tfoot {
        background-color: white;
        border: none;
        border-top: 1px solid black;
    }
    tfoot  th, tfoot td:nth-of-type(1) {
        display: none;
    }

}
/****Responsive for 479px STOPS****/
